body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    background-color:rgb(200, 200, 200);
}

@font-face {
    font-family: "Calibri";
    src: url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot");
    src: url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri")format("svg");
}

@font-face {
    font-family: "Comic Sans";
    src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
    src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS")format("svg");
}

@font-face {
    font-family: "Franklin Gothic";
    src: url("https://db.onlinewebfonts.com/t/9c9dbb999dd7068f51335d93cc7328bd.eot");
    src: url("https://db.onlinewebfonts.com/t/9c9dbb999dd7068f51335d93cc7328bd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9c9dbb999dd7068f51335d93cc7328bd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9c9dbb999dd7068f51335d93cc7328bd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9c9dbb999dd7068f51335d93cc7328bd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9c9dbb999dd7068f51335d93cc7328bd.svg#Franklin Gothic")format("svg");
}

@font-face {
    font-family: "Frutiger";
    src: url("https://db.onlinewebfonts.com/t/0c453315c27507762e6b9536cfea76a6.eot");
    src: url("https://db.onlinewebfonts.com/t/0c453315c27507762e6b9536cfea76a6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0c453315c27507762e6b9536cfea76a6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0c453315c27507762e6b9536cfea76a6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0c453315c27507762e6b9536cfea76a6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0c453315c27507762e6b9536cfea76a6.svg#Frutiger")format("svg");
}

@font-face {
    font-family: "Garamond";
    src: url("https://db.onlinewebfonts.com/t/2bf40ab72ea4897a3fd9b6e48b233a19.eot");
    src: url("https://db.onlinewebfonts.com/t/2bf40ab72ea4897a3fd9b6e48b233a19.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2bf40ab72ea4897a3fd9b6e48b233a19.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2bf40ab72ea4897a3fd9b6e48b233a19.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2bf40ab72ea4897a3fd9b6e48b233a19.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2bf40ab72ea4897a3fd9b6e48b233a19.svg#Garamond")format("svg");
}

@font-face {
    font-family: "Gotham";
    src: url("https://db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.eot");
    src: url("https://db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0ff8990774ec4865c7f45befbafd4910.svg#Gotham Regular")format("svg");
}

@font-face {
    font-family: "SF Mono";
    src: url("https://db.onlinewebfonts.com/t/c8da3c58be0ab862c24357279216fe05.eot");
    src: url("https://db.onlinewebfonts.com/t/c8da3c58be0ab862c24357279216fe05.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c8da3c58be0ab862c24357279216fe05.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c8da3c58be0ab862c24357279216fe05.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c8da3c58be0ab862c24357279216fe05.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c8da3c58be0ab862c24357279216fe05.svg#SF Mono Regular")format("svg");
}

::selection {
    background-color: black;
    color: #46ff9b;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
}

.wrapper a {
    text-decoration: none;
    color:#46ff9b;
    margin: 5px 10px;
    transition: 0.5s;
}

.wrapper a:hover {
    font-size: x-large;
    font-weight: 600;
}

footer {
    background-color: #46ff9b;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
    padding-left: 0px;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: #46ff9b;
    transition: 0.5s;
}

ul li a:hover {
    color: #46ff9b;
    background-color: black;
    padding: 5px 15px;
}

.selected a {
    font-weight: bold;
}

.american_typewriter {
    font-family: "American Typewriter";
}

.arial_rounded {
    font-family: "Arial Rounded MT Bold";
}

.arial {
    font-family: "Arial";
}

.avenir {
    font-family: "Avenir";
}

.baskerville {
    font-family: "Baskerville";
}

.bodoni {
    font-family: "Bodoni";
}

.calibri {
    font-family: "Calibri";
}

.cochin {
    font-family: "Cochin";
}

.comic_sans {
    font-family: "Comic Sans";
}

.copperplate {
    font-family: "Copperplate";
}

.courier {
    font-family: "Courier New";
}

.didot {
    font-family: "Didot";
}

.franklin_gothic {
    font-family: "Franklin Gothic";
}

.frutiger {
    font-family: "Frutiger";
}

.futura {
    font-family: "Futura";
}

.garamond {
    font-family: "Garamond";
}

.georgia {
    font-family: "Georgia";
}

.gill_sans {
    font-family: "Gill Sans";
}

.gotham {
    font-family: "Gotham";
}

.helvetica {
    font-family: "Helvetica";
}

.impact {
    font-family: "Impact";
}

.palatino {
    font-family: "Palatino";
}

.rockwell {
    font-family: "Rockwell";
}

.sf_mono {
    font-family: "SF Mono";
}

.times {
    font-family: "Times New Roman";
}

.verdana {
    font-family: "Verdana";
}